Source: ros-melodic-derived-object-msgs
Section: misc
Priority: optional
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin, ros-melodic-geometry-msgs, ros-melodic-message-generation, ros-melodic-radar-msgs, ros-melodic-ros-environment, ros-melodic-shape-msgs, ros-melodic-std-msgs
Homepage: http://wiki.ros.org/derived_object_msgs
Standards-Version: 3.9.2

Package: ros-melodic-derived-object-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-geometry-msgs, ros-melodic-message-runtime, ros-melodic-radar-msgs, ros-melodic-shape-msgs, ros-melodic-std-msgs
Description: Abstracted Messages from Perception Modalities
