Source: ros-melodic-astuff-sensor-msgs
Section: misc
Priority: extra
Maintainer: AutonomouStuff Software Development Team <software@autonomoustuff.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-astuff-sensor-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-delphi-esr-msgs, ros-melodic-delphi-srr-msgs, ros-melodic-ibeo-msgs, ros-melodic-kartech-linear-actuator-msgs, ros-melodic-mobileye-560-660-msgs, ros-melodic-neobotix-usboard-msgs, ros-melodic-pacmod-msgs
Description: Messages specific to AStuff-provided sensors.
